{% extends "base.html" %}
{% load static %}
{% block 'title' %}cart{% endblock 'title' %}
{% block 'content' %}
<br>
<br>
<br>
<br>
<br>

<h1>your itesm</h1>

{% for item in service_list %}
<p>{{item.service.title}}</p>
<p>{{item.service.price}}</p>
<p>{{item.quantity}}</p>
<p>{{item.total_price}}</p>
<p>==================================</p>

{% endfor %}

<h1>your totalprice is {{total}}</h1>

<p>==================================</p>

<form action="{% url "cart:checkout" %}">
    <button type="submit">complete info</button>
</form>

<br>
<br>
<br>
<br>
{% endblock 'content' %}
