{% extends "base.html" %}
{% load static %}
{% block 'title' %}Blog Detail{% endblock 'title' %}
{% block 'content' %}
  

  <main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Blog Details</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">Blog Details</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <div class="container">
      <div class="row">

        <div class="col-lg-8">

          <!-- Blog Details Section -->
     
          <section id="blog-details" class="blog-details section">
            <div class="container">

              <article class="article">

                <div class="post-img">
                  <img src={{object.image_one.url}} alt="" class="img-fluid">
                </div>

                <h2 class="title">{{ blog.title }}</h2>

                <div class="meta-top">
                  <ul>
                    <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="">{{ blog.author }}</a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href=""><time datetime="2020-01-01">{{ blog.created_at }}</time></a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="">12 Comments</a></li>
                  </ul>
                </div><!-- End meta top -->

                <div class="content">
                  <p>
                    {{ blog.content_one }}
         
                  </p>

                  <p>
                    {{ blog.content_two }}
                  </p>

                  <blockquote>
                    <p>
                     {{ blog.tip }}
                    </p>
                  </blockquote>
                  <img src={{object.image_two.url}} class="img-fluid" alt="">

                  <h3> {{ blog.mini_title}} </h3>
                  <p>
                    {{ blog.content_three }}
                  </p>
                 

                </div><!-- End post content -->

                <div class="meta-bottom">
                  <i class="bi bi-folder"></i>
                  <ul class="cats">
                    <li><a href="#">{{ blog.category }}</a></li>
                  </ul>

                  <i class="bi bi-tags"></i>

                  <ul class="tags">
                    {% for tag_item in object.tag.all %}
                    <li><a href="">{{ tag_item.name }}</a></li>
                    {% endfor %}
                  </ul>
                </div><!-- End meta bottom -->

              </article>

            </div>
          </section><!-- /Blog Details Section -->
   

          <!-- Blog Author Section -->
          <section id="blog-author" class="blog-author section">

            <div class="container">
              <div class="author-container d-flex align-items-center">
                <img src="{% static 'assets/img/blog/blog-author.jpg' %}" class="rounded-circle flex-shrink-0" alt="">
                <div>
                  <h4>{{ blog.author  }}</h4>
                  <div class="social-links">
                    <a href="https://x.com/#"><i class="bi bi-twitter-x"></i></a>
                    <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                    <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
                  </div>
                  <p>
                    Itaque quidem optio quia voluptatibus dolorem dolor. Modi eum sed possimus accusantium. Quas repellat voluptatem officia numquam sint aspernatur voluptas. Esse et accusantium ut unde voluptas.
                  </p>
                </div>
              </div>
            </div>

          </section><!-- /Blog Author Section -->

          <!-- Blog Comments Section -->
          <section id="blog-comments" class="blog-comments section">
           

            <div class="container">

              <h4 class="comments-count">8 Comments</h4>

                {% for comment in blog.get_comments %}     

             <!-- <div id="comment-1" class="comment">
                <div class="d-flex">
                  <div class="comment-img"><img src="{% static 'assets/img/blog/comments-1.jpg' %}" alt=""></div>
                  <div>
                    <h5><a href="">Georgia Reader</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                    <time datetime="2020-01-01">01 Jan,2022</time>
                    <p>
                      Et rerum totam nisi. Molestiae vel quam dolorum vel voluptatem et et. Est ad aut sapiente quis molestiae est qui cum soluta.
                      Vero aut rerum vel. Rerum quos laboriosam placeat ex qui. Sint qui facilis et.
                    </p>
                  </div>
                </div>
              </div> End comment #1 -->

              <div id="comment-2" class="comment">
                <div class="d-flex">
                  <div class="comment-img"><img src="{% static 'assets/img/blog/comments-2.jpg' %}" alt=""></div>
                  <div>
                    <h5><a href="">{{ comment.name }}</a> <a href="#replyform" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                    <time datetime="2020-01-01">{{ comment.created_at}}</time>
                    <p>
                     {{comment.content}}
                    </p>
                    <form id="replyform"method="post" action="{% url 'blog:add_reply' pk=comment.id %}">
                      {% csrf_token %}
                      <textarea name="content" class="form-control" rows="3" placeholder="Reply.."></textarea>



                      <div class="text-left">
                        <button type="submit" class="btn btn-danger" >Reply</button>
                      </div>
                  </form>

                  </div>
                </div>

                <div id="comment-reply-1" class="comment comment-reply">
                  {% for reply in comment.get_replays %}
                  <div class="d-flex">
                    <div class="comment-img"><img src="{% static 'assets/img/blog/comments-3.jpg' %}" alt=""></div>
                    <div>
                      <h5><a href="">{{reply.name}}</a></h5>
                      <time datetime="2020-01-01">{{reply.created_at}}</time>
                      <p>
                        {{reply.content}}
                      </p>
                    </div>
                  </div>
                  {% endfor %}

                </div><!-- End comment reply #1-->

              </div><!-- End comment #2-->

           {% endfor %}
            </div>
        
          </section><!-- /Blog Comments Section -->

          <!-- Comment Form Section -->
          <section id="comment-form" class="comment-form section">
            <div class="container">

              <form method="post" action="{% url 'blog:add_comment' pk=blog.id %}">
                {% csrf_token %}

                <h4>Post Comment</h4>
                <p>Your email address will not be published. Required fields are marked * </p>
                <div class="row">
                  <div class="col-md-6 form-group">
                    <input name="name" type="text" class="form-control" placeholder="Your Name*">
                  </div>
                  <div class="col-md-6 form-group">
                    <input name="email" type="email" class="form-control" placeholder="Your Email*">
                  </div>
                </div>
                <div class="row">
                  <div class="col form-group">
                    <input name="website" type="text" class="form-control" placeholder="Your Website">
                  </div>
                </div>
                <div class="row">
                  <div class="col form-group">
                    <textarea name="content" class="form-control" placeholder="Your Comment*"></textarea>
                  </div>
                </div>
                <!--Hidden input for parent comment ID(for replies)-->
                <input type="hidden" name="parent_id" id="parent_id" value=""> 

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Post Comment</button>
                </div>

                {% for message in messages %}
                     {{ message }}
                {% endfor %}

              </form>

            </div>
          </section><!-- /Comment Form Section -->

        </div>

        <div class="col-lg-4 sidebar">

          <div class="widgets-container">

            <!-- Search Widget -->
            <div class="search-widget widget-item">

              <h3 class="widget-title">Search</h3>
              <form>
                <input type="text" name="search">
                <button type="submit" name="Search"><i class="bi bi-search"></i></button>
              </form>

            </div><!--/Search Widget -->

            <!-- Categories Widget -->
            <div class="categories-widget widget-item">

              <h3 class="widget-title">Categories</h3>
              <ul class="mt-3">
                {% for cat in category %}
                <li><a href="{% url 'blog:blogs_category' cat.name %}">>{{ cat.name }}<span>({{category_post_count}})</span></a></li>
    
                {% endfor %}
              </ul>

            </div><!--/Categories Widget -->

            <!-- Recent Posts Widget -->
            <div class="recent-posts-widget widget-item">

              <h3 class="widget-title">Recent Posts</h3>

              {% for post in recent_posts%}

              <div class="post-item">
                <img src="{{post.image_one.url}}" alt="blog" class="flex-shrink-0">
                <div>
                  <h4><a href="{% url 'blog:blog-details' post.id %}">{{post.title}}</a></h4>
                  <time datetime="2020-01-01">{{post.created_at}}</time>
                </div>
              </div><!-- End recent post item-->
               {% endfor %}

            </div><!--/Recent Posts Widget -->

            <!-- Tags Widget -->
            <div class="tags-widget widget-item">

              <h3 class="widget-title">Tags</h3>
              
              <ul>
                {% for tag in tag %}
                <li><a href="{% url 'blog:blogs_tag' tag.name %}">{{ tag.name }}</a></li>
             {% endfor %} 
            </ul>
              

            </div><!--/Tags Widget -->

          </div>

        </div>

      </div>
    </div>

  </main>
{% endblock 'content' %}