{% extends "base.html" %}
{% load static %}
{% block 'Title' %}Change Password{% endblock 'Title' %}
{% block 'content' %}
  
  <main class="main d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="container" style="max-width: 400px; width: 100%;">
      <h2 class="text-center mb-4">Change Password</h2>
      <form method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label for="current_password" class="form-label" for="{{form.current_password.id_Current_Password}}">Current Password</label>
          <input id = "{{ form.current_password.id_Current_Password }}" type="password" name="current_password"
            value= "{{form.current_password.value|default_if_none:'' }}" class="form-control" maxlength="15" placeholder="Enter your current password">
        </div>
        <div class="mb-3">
          <label for="new_password" class="form-label" for="{{form.password1.id_New_Password}}">New Password</label>
          <input id = "{{ form.password1.id_password1 }}" type="password" name="password1"
          value= "{{form.password1.value|default_if_none:'' }}" class="form-control" maxlength="15" placeholder="Enter your new password">
        </div>
        <div class="mb-3">
          <label for="confirm_password" class="form-label" for="{{form.password2.id_Confirm_New_Password}}">Confirm New Password</label>
          <input id = "{{ form.password2.id_password2 }}" type="password" name="password2" class="form-control" 
          value= "{{form.password2.value|default_if_none:'' }}" maxlength="15" placeholder="Confirm your new password">
        </div>
        <button type="submit" class="btn btn-primary w-100" name="change_password">Change Password</button>
      </form>
      {% for message in messages %}
      <div class="container section-title" style="color:red">
          <h4>{{message}}</h4>
      
       </div>
       {% endfor %}
    </div>
  </main>

{% endblock 'content' %}