{% extends "base.html" %}
{% load static %}
{% block 'Title' %}Login{% endblock 'Title' %}
{% block 'content' %}
  
  <main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Login/Signup</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">Login/Signup</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- About Section -->
    <section id="auth" class="auth section">
      <div class="container d-flex justify-content-center">
        <div class="card p-4 shadow-lg" style="width: 600px;">
          <ul class="nav nav-tabs mb-3" id="authTabs" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="login-tab" data-bs-toggle="tab" data-bs-target="#login" type="button" role="tab" aria-controls="login" aria-selected="true">Login</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="signup-tab" data-bs-toggle="tab" data-bs-target="#signup" type="button" role="tab" aria-controls="signup" aria-selected="false">Sign Up</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="forgot-tab" data-bs-toggle="tab" data-bs-target="#forgot" type="button" role="tab" aria-controls="forgot" aria-selected="false">Forgot Password</button>
            </li>
          </ul>
    
          <div class="tab-content" id="authTabsContent">

            
            <!-- Login Form -->

            <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
              <form method="post" action="">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="loginEmail" class="form-label">Email address</label>
                  <input type="email" name="email" class="form-control" id="loginEmail" placeholder="Enter your email">
                </div>
                <div class="mb-3">
                  <label for="loginPassword" class="form-label">Password</label>
                  <input type="password" name="password" class="form-control" id="loginPassword" placeholder="Enter your password">
                </div>
                <div class="mb-3"></div>
                <button type="submit" class="btn btn-primary w-100", name="login">Login</button>

                {% if request.user.is_authenticated %}
                <a class="btn btn-secondary w-100" href={% url "accounts:edit-profile" %}>Edit Profile</a>
                {% endif %}
              </div>
              </form>
              {% for message in messages %}
              <div class="mb-3" style="color:red">
                  <h4>{{message}}</h4>
              
            </div>
            {% endfor %}



            <!-- Sign Up Form -->
            <div class="tab-pane fade" id="signup" role="tabpanel" aria-labelledby="signup-tab">
              <form method="post" action="">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="signupEmail" class="form-label">Email address</label>
                  <input type="email" name="email" class="form-control" id="signupEmail" placeholder="Enter your email">
                </div>
                <div class="mb-3">
                  <label for="signupPassword" class="form-label">Password</label>
                  <input type="password" name="password1" class="form-control" id="signupPassword" placeholder="Create a password">
                </div>
                <div class="mb-3">
                  <label for="signupPassword" class="form-label">Confirm Password</label>
                  <input type="password" name="password2" class="form-control" id="signupPassword" placeholder="Confirm password">
                </div>
                <button type="submit" class="btn btn-success w-100", name="signup">Sign Up</button>

                {% if request.user.is_authenticated %}
                <a class="btn btn-secondary w-100" href={% url "accounts:edit-profile" %}>Edit Profile</a>
                {% endif %}
                
              </form>
              {% for message in messages %}
              <div class="mb-3" style="color:red">
                  <h4>{{message}}</h4>
              
            </div>
            {% endfor %}


            <!-- Forgot Password Form -->
            <div class="tab-pane fade" id="forgot" role="tabpanel" aria-labelledby="forgot-tab">
              <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="reset-password" class="form-label">Email address</label>
                  <input type="email" name="email" class="form-control" id="reset-password" placeholder="Enter your email to reset password">
                </div>
                <button type="submit" class="btn btn-warning w-100" name="reset-password">Reset Password</button>
              </form>
              {% for message in messages %}
            <div class="mb-3" style="color:red">
                <h4>{{message}}</h4>
            
             </div>
             {% endfor %}
            </div>

            
          </div>

          

        </div>
      </div>
    </section>

  </main>

  {% endblock 'content' %}