{% extends "base.html" %}
{% load static %}
{% block 'Title' %}Login{% endblock 'Title' %}
{% block 'content' %}


<main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Login/Signup</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">Login/Signup</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->


    <section id="auth" class="auth section">
        <div class="container d-flex justify-content-center">
            <div class="card p-4 shadow-lg" style="width: 600px;">

              <h3></h3>
              <p></p>
              <p></p>



                
            </div>
        </div>
    </section>



</main>
{% endblock 'content' %}