{% extends "base.html" %}
{% load static %}
{% block 'title' %}cart{% endblock 'title' %}
{% block 'content' %}

<main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Payment</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{% url 'home:home'}">Home</a></li>
            <li class="current">Payment</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

   
            
          <h3>you did alright</h3>


          <section id="team" class="team section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
              <h2>Payment Success
              </h2>
              <p>Payment was successfull</p>
            </div><!-- End Section Title -->
          
          
            </div>
          
          </section>
          

  </main>








{% endblock 'content' %}